/*** FUENTES ***/
@font-face {
    font-family: 'Omnes ExtraLight';
    src: url(../fonts/omnesextralight.otf);
}
@font-face {
    font-family: 'Co Text Regular';
    src: url(../fonts/cotextregular.ttf);
}