/*  Pablo Ceballos
    Ángel Manuel Fernández
    Juan José Carrasco
    Rubén Torres
*/

/*** IMPORTACIONES ***/
@import url('fuentes.css');
@import url('colores.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Omnes ExtraLight';
    text-decoration: none;
}

/***** CABECERA *****/
header{
    background-color: var(--principal);
    display: flex;
    justify-content: space-around;
}

nav > ul > li{
    float: left;
}

nav li > a{
    padding: 20px;
    display: block;
    font-weight: bold;
    color: white;
    transition: all 500ms ease;
    border-bottom: 3px solid var(--principal);
}

nav li > a:hover{
    background-color: var(--analogo1);
    transition: all 500ms ease;
    border-bottom-color: var(--analogo1);
}

.activo{
    border-bottom-color: var(--contraste);
}

.activo:hover{
    border-bottom-color: var(--contraste);
}